#header-container
  ul.page-menu
    li
      a(href="/") Home
    li
      a(href="/upload") Upload
    li
      a(href="/tuition") Tuition Graph
    li
      a(href="/gender_distribution") Gender Distribution
    li
      a(href="/most_enrolled") Top Ten by Enrollment
    li
      a(href="/test") QUnit Testing
  #header
    h1.logo IS219 Final