doctype html
html
  head
    title= title
    link(rel="stylesheet", href="stylesheets/header.css")
  body
    include header.jade
    center
        p Clicking start will begin uploading of your files.
        button  
            a.random(href="/upload/2013/characteristics") START