#header-container{
    margin: 0px; 
    text-align: center; 
    background: #BF0000; 
    border-style: outset;
    border-width: 5px;
    border-color: #404040;
}

#header{
    clear: both; 
    width: 1000px; 
    margin: 0px auto 0px;
    padding: 40px 50px 10px;
    
}

a {
    text-decoration: none;
}

.random a{
    text-decoration: none;
    font-size: 25px;
}

p {
    font-size: 14px;
}

.page-menu{
    clear: both; 
    width: 1000px; 
    margin: auto; 
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;
}
.page-menu li{
    float: left; 
    margin-right: 10px;
}

ul.page-menu li.social-links{float: right;}

.page-menu a{
    color: #fff; 
    text-transform: uppercase; 
    font-size: 16px; 
    margin: 0px 8px;
}

.page-menu li{
    margin-top: 10px;
}


ul.page-menu li a:hover{color: #808080;}

.header-image{
    margin-bottom: 20px; 
    text-align: center;
}

.logo{
    font-family: Helvetica, serif; 
    font-size: 70px; 
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    margin-top: -25px;
    margin-bottom: 0px;
    border-top-style: dotted;
    border-top-width: 2px;
    border-top-color: #fff;
}

#header p{
    font-family: Georgia, sans-serif;
    font-size: 20px; 
    color: #999; 
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}
